
header{
    align-items: center;
    background: #f9f9f9;
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
}

.cabecera{
    list-style: none;
}

.logo{
    background: url("../../assets/img/logo.jpg") no-repeat center / cover;
    width: 100px;
    height: 70px;
}

.menu__lista{
    display: flex;
}

.menu__item{
    list-style: none;
}

.menu__item:last-child .menu__link{
    margin-right: 0;
}

.menu__link{
    color: #808080;
    font-size: 1rem;
    margin-right: 1.25rem;
    text-decoration: none;
    text-transform: uppercase;

}

.menu__link.activo{
    color: #333333;
    font-weight: bold;
}

.menu__link:hover{
    text-decoration: underline;
}

@media screen and (min-width: 0){
    .cabecera{
        justify-content: center;
        padding: 0 1rem;
    }

    .logo{
        display: none;
    }
}

@media screen and (min-width: 768px){
    .cabecera{
        justify-content: space-between;
        padding: 0 5rem;
    }

    .logo{
        display: inherit;
    }
}